.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #444;
  color: white;
}
.nav-links {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}
.nav-links li {
  padding: 10px;
  font-size: 1.1rem;
  color: white;

  transition: all 0.3s;
}
.nav-links li:hover {
  color: lightcoral;
}
a {
  text-decoration: none;
}